@media (max-width:600px) {
    /* -----------------------------------header-sec --------------------*/
.header-sec{
    position: relative;
    background-image: url(../images/header.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 95vw;
    
}
.nav {
    display: flex;
    align-items: center;
    gap: 1vw;
    justify-content: end;
    padding: 2vw 2vw;
}
.nav img{
    width: 8vw;
    transition: .3s;
}
.nav img:hover{
    transform: translateY(-.5vw);
}
.nav .buy-btn{
    width: 28vw;
}
.txt-1{
    width: 85vw;
    display: flex;
    margin: auto;
    padding-top: 4vw;

}
.dex-btn{
    width: 34vw;
    display: flex;
    margin: auto;
    padding-top: 12vw;
    transition: .3s;
}
.dex-btn:hover{
    transform: translateY(.5vw);
}
.gif1{
    position: absolute;
    width: 18vw;
    left: 4%;
    top: 47%;
}
.gif2{
    position: absolute;
    width: 20vw;
    right:5%;
    top:39%;
    transform: rotate(-40deg);
}




/* -----------------------about-sec------------------- */
.about-sec{
    position: relative;
    
}
.about-sec .box{
    display: flex;
    margin: auto;
    width:100vw;
    margin-top: -11vw;
    z-index: 5;
    /* transform: translateX(1vw); */
    height: 112vw;


}
.abt-bg{
    position: absolute;
    width: 100%;
    z-index: -1;
    top: -60%;
}
.text{
    position: absolute;
    left: 18%;
    top: 48%;

}
.cina{
    font-size: 9vw;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 37%;
    left: 33%;
    z-index: 2;

}
.text p{
    font-size: 2.9vw;
    width:70%;
    text-align: center;
    font-family: patrick;
}
.p2{
    margin-top: 1vw;
}
.gif3{
    position: absolute;
    width:25vw;
    left: 20%;
    top: -80%;
}
.gif4{
    position: absolute;
    width: 24vw;
    left: -20%;
    top: 116%;
}
.gif5{
    position: absolute;
    width: 17vw;
    right: 1%;
    top: -140%;
}
.c1{
    width: 10vw;
    position: absolute;
    top: -5%;
    left: 0;
}
.btn-2{
    width: 30vw;
    position: absolute;
    top: 114%;
    left: 20%;
    transition: .3s;
}
.btn-2:hover{
    transform: translateY(-.5vw);
}



/* --------------------------token-sec------------------- */
.token-sec{
    position: relative;
    margin-top: 17.5vw;
}
.tkn-txt{
    width: 86vw;
    display: flex;
    margin: auto;
}
.copy-ca{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
}
.copy-ca h4{
    font-size: 4vw;
    color: #fff;
    text-align: center;
}
.copy{
    width: 65%;
    border: 2px solid #000;
    background-color:#c9edfb;
    padding: 1.5vw 1vw;
    text-align: center;
    color: #000;
    font-family: patrick;
    border-radius: 1.5vw;
    font-size: 1.4vw;
}
.copy-ca .copy p{
    font-size: 2.9vw;
    color:#000;
}
.copy-icn{
    width: 7vw;
    position: absolute;
    left:77.5%;
    top: 41.5%;
    z-index: 10;
}
/* -----------splyss */
.splyss{
    position: relative;
    margin-top: 9vw;
    
}
.t11{
    position: absolute;
    width: 20vw;
    left: 8%;
    top: 54%;
}
.t2{
    position: absolute;
    width: 20vw;
    left: 39%;
    top:74%;
}
.t3{
    position: absolute;
    width:20vw;
    left: 74%;
    top: 57%;
}

.boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    
}
.splyss .boxes img{
    width: 30vw;
}
.splyss .boxes .suply{
    width: 35vw;
}
.tkn-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: -30%;
    left: -5%;
    
}
/* -------------------------clouds------------ */
/* .clouds{
    width: 100%;
    height: 40vw;
} */
.clouds{
    background-image: url(../images/clouds.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 55vw;
    width: 100%;
    position: relative;
    text-align: center;
    margin-top:3vw;
}
.cld-2{
    position: absolute;
    left: 0;
    width: 8vw;
    top: 59%;
}
.how{
    width: 50vw;
    margin: auto;
    text-align: center;
    padding-top:30vw;
    
}
.gif6{
    position: absolute;
    width: 24vw;
    right: 5%;
    top: 70%;
}




/* --------------------------------steps-sec----------------- */
.steps-sec{
    position: relative;
    margin-top: 3vw;
}
.step-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.step-row p{
    color:#321672;
    font-family: patrick;
    font-size: 3vw;
    font-family:sponge;
    
}
.step-1{
    position: relative;
    
}
.step-1 img{
    width: 74vw;


}
.step-1 .n1{
    position: absolute;
    width: 13vw;
    left: 19%;
    top: 2%;
}
.pr1{
   font-size: vw;
   font-family: patrick;
   position: absolute;
   width: 70%;
   top: 50%;
   left:20%;
   transform: rotate(-3deg);
   
}
.pr2{
    font-size: 1.3vw;
    font-family: patrick;
    position: absolute;
    width: 55%;
    top: 50%;
    left:25%;
    transform: rotate(4deg);
    
 }
.step-2 .n2{
    position: absolute;
    width: 14vw;
    left: 23%;
    top: 4%;
}
.step-2 img{
    width: 75vw;

}
.step-2{
    position: relative;
    transform: translateY(-7.5vw);
}



.step-1 .phs-1{
    position: absolute;
    width: 26vw;
    top: 29%;
    left: 25%;
    

}

.step-2 .phs-2{
    position: absolute;
    width: 26vw;
    top: 29.5%;
    left:29%;
    
}

.step-3 .phs-3{
    position: absolute;
    width: 26vw;
    top: 29.5%;
    left:26%;
    
}

.step-4 .phs-4{
    position: absolute;
    width: 26vw;
    top: 30.5%;
    left:26%;
}





/* -------------------------------step-row-two------------------ */

.step-row-two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -12vw;
    
}
.step-row-two p{
    color:#321672;
    font-family: patrick;
    font-size: 3vw;
    font-family:sponge;
    width: 65%;
}



.step-3{
    position: relative;
    transform: translateY(-5.5vw);
}
.step-3 img{
    width: 75vw;


}
.step-3 .n3{
    position: absolute;
    width: 14vw;
    left: 19%;
    top: 2%;
}
.pr3{
   font-size: 1.3vw;
   font-family: patrick;
   position: absolute;
   width: 55%;
   top: 50%;
   left:20%;
   transform: rotate(-2deg);
   
}
.pr4{
    font-size: 1.3vw;
    font-family: patrick;
    position: absolute;
    width: 55%;
    top: 50%;
    left:25%;
    transform: rotate(-3deg);
    
 }




 
.step-4 .n4{
    position: absolute;
    width: 14vw;
    left: 18%;
    top: 4%;
}
.step-4 img{
    width: 75vw;

}
.step-4{
    position: relative;
    transform: translateY(-13vw);
}






/* --------------------foter-sec------------- */
.foter-sec{
    background-image: url(../images/foter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 98vw;
    width: 100%;
    position: relative;

    
}
.gif7{
    position: absolute;
    width: 25vw;
    left: 0%;
    top: -15%;
}
.join{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: auto;
    padding-top: 5vw;
}
.cmnty{
    width: 30vw;
    display: flex;
    margin: auto;
    margin-top: .6vw;
    transition: .3s;
}
.cmnty:hover{
    transform: translateX(1vw);
}
.foter-imgs{
    display: flex;
    width: 72vw;
    

    margin: auto;
    padding-top: 3vw;
}
.gif8{
    position: absolute;
    width: 21vw;
    right: 0%;
    top: 52%;
}
.end{
    font-size: 3vw;
    color: #fff;
    position: absolute;
    top: 94%;
    left: 24%;
}
/* -------- */
.cc2{
    position: absolute;
    width: 7vw;
    right: 0%;
    top: 20%;
}
.cloud-4{
    position: absolute;
    width: 8vw;
    right: 0%;
    top: 46%;

}

}